<form *ngIf="form && showForm" [formGroup]="form">
    <div>
      <label for="pokedexIndex">Pokedex Index:</label>
      <input type="number" name="pokedexIndex" formControlName="pokemonIndex">
    </div>
    <div>
      <label for="pokemonName">Pokemon Name:</label>
      <input type="text" name="pokemonName" formControlName="pokemonName">
    </div>
    <button [disabled]="isLoading" (click)="onSubmit()">Submit</button>
  
    <p *ngIf="isLoading">Pokemon is loading...</p>
</form>

<ng-container *ngIf="pokemon && !showForm">
  <app-pokemon [pokemon]="pokemon" [battleControl$]="damageSubject$"></app-pokemon>

  <button (click)="onClickHit(5)">Hit!</button>
  
  <button (click)="showForm=true">Pick new Pokemon!</button>
</ng-container>

